
https://www.perplexity.ai/search/0eafd6c8-1230-4d5d-9553-446ea1f18997

In [22]:
#學生成績單

import numpy as np
import pandas as pd

scores=np.random.randint(5,101,size=(50,5))
#scores
scores_pd = pd.DataFrame(scores,columns=['國文','英文','數學','地理','歷史'],index=range(1,51))
#scores_pd
scores_pd.T #加了.T 是欄列資料轉換

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
國文,37,32,18,19,79,61,5,71,77,58,...,72,53,72,22,65,59,96,41,68,85
英文,76,92,57,16,57,46,25,100,18,37,...,91,73,22,45,44,23,18,27,85,31
數學,92,57,26,31,78,24,72,48,32,57,...,41,68,87,30,35,30,20,6,45,73
地理,11,89,59,22,44,53,50,77,29,53,...,61,74,55,26,93,72,97,95,84,65
歷史,44,17,98,59,60,60,80,91,18,16,...,58,69,93,46,40,7,50,6,34,100

In [23]:
scores_pd.index.name="學號"
scores_pd.columns.name="科目"
#scores_pd
sum_value=scores_pd.sum(axis=1)
mean_value=np.mean(scores_pd,axis=1)

In [24]:
scores_pd['總分']=sum_value
scores_pd['平均']=mean_value

In [ ]:
#排序
scores_pd1=scores_pd.sort_values(by='總分',ascending=False)
scores_pd1

科目   國文   英文  數學  地理   歷史   總分    平均
學號
33  100   93  86  71   41  391  78.2
8    71  100  48  77   91  387  77.4
26   72   81  90  83   39  365  73.0
38   51  100  20  95   97  363  72.6
39   93   50  98  87   29  357  71.4
50   85   31  73  65  100  354  70.8
25   99   36  60  46  100  341  68.2
42   53   73  68  74   69  337  67.4
18   71   95  52  96   16  330  66.0
43   72   22  87  55   93  329  65.8
41   72   91  41  61   58  323  64.6
5    79   57  78  44   60  318  63.6
36   59   76  67  29   85  316  63.2
49   68   85  45  84   34  316  63.2
34   68   44  81  50   63  306  61.2
27   47   65  88  49   47  296  59.2
32   48   44  76  38   89  295  59.0
14   62   53  86  53   38  292  58.4
2    32   92  57  89   17  287  57.4
47   96   18  20  97   50  281  56.2
45   65   44  35  93   40  277  55.4
29   23   74  62  84   26  269  53.8
13   20   87  60  67   31  265  53.0
37   77   77  55  23   32  264  52.8
1    37   76  92  11   44  260  52.0
15   96   29  34  81   18  258  51.6
3    18   57  26  59   98  258  51.6
40   24   27  45  61  100  257  51.4
6    61   46  24  53   60  244  48.8
11   95   16  34  77   22  244  48.8
22    5   48  45  55   83  236  47.2
31   73   34  16  54   56  233  46.6
17   32   37  19  45   99  232  46.4
7     5   25  72  50   80  232  46.4
16   19   49  52  49   59  228  45.6
24   41   36  68  41   39  225  45.0
10   58   37  57  53   16  221  44.2
21   29   58  70   7   56  220  44.0
30   80   25  41  16   41  203  40.6
19   46    6  43  42   64  201  40.2
23   47    5  33  10  100  195  39.0
35   48   68  54  11   11  192  38.4
28   37   17  11  56   71  192  38.4
46   59   23  30  72    7  191  38.2
48   41   27   6  95    6  175  35.0
9    77   18  32  29   18  174  34.8
20   39    9  64  16   43  171  34.2
12   46   43  57   6   17  169  33.8
44   22   45  30  26   46  169  33.8
4    19   16  31  22   59  147  29.4

In [29]:
#排名
scores_pd1["排名"]=scores_pd1["總分"].rank(axis=0,method='min',ascending=False)

In [31]:
scores_pd1
scores_pd1.iloc[-5:]

科目  國文  英文  數學  地理  歷史   總分    平均    排名
學號
9   77  18  32  29  18  174  34.8  46.0
20  39   9  64  16  43  171  34.2  47.0
12  46  43  57   6  17  169  33.8  48.0
44  22  45  30  26  46  169  33.8  48.0
4   19  16  31  22  59  147  29.4  50.0