
https://www.perplexity.ai/search/94f7fc8c-0595-416f-b080-1e318bd7404d

In [1]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1   -0.516572
   2    1.459135
   3   -0.662817
b  1   -0.208436
   2   -0.657674
c  3   -0.598835
   1    0.628912
d  2   -0.203519
   3    0.473174
dtype: float64

In [3]:
data['a']

1   -0.516572
2    1.459135
3   -0.662817
dtype: float64

In [4]:

data['a'][2]

np.float64(1.45913499807294)

In [5]:
data['a':'b']

a  1   -0.516572
   2    1.459135
   3   -0.662817
b  1   -0.208436
   2   -0.657674
dtype: float64

In [9]:
#Series->堆疊資料>(long data)
#2維資料->非堆疊資料>(width data)
data.unstack()  #DataFrame
#type(data.unstack())

          1         2         3
a -0.516572  1.459135 -0.662817
b -0.208436 -0.657674       NaN
c  0.628912       NaN -0.598835
d       NaN -0.203519  0.473174

In [ ]:
#Series->堆疊資料>(long data)
#2維資料->非堆疊資料>(width data)
data.unstack().stack()

a  1   -0.516572
   2    1.459135
   3   -0.662817
b  1   -0.208436
   2   -0.657674
c  1    0.628912
   3   -0.598835
d  2   -0.203519
   3    0.473174
dtype: float64