
https://www.perplexity.ai/search/94f7fc8c-0595-416f-b080-1e318bd7404d

In [2]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1    1.911400
   2   -0.554418
   3    0.740612
b  1    0.526413
   2    0.603247
c  3    1.653922
   1    0.558816
d  2   -0.299995
   3   -0.769170
dtype: float64

In [3]:
data['a']

1   -0.516572
2    1.459135
3   -0.662817
dtype: float64

In [4]:

data['a'][2]

np.float64(1.45913499807294)

In [5]:
data['a':'b']

a  1   -0.516572
   2    1.459135
   3   -0.662817
b  1   -0.208436
   2   -0.657674
dtype: float64

In [9]:
#Series->堆疊資料>(long data)
#2維資料->非堆疊資料>(width data)
data.unstack()  #DataFrame
#type(data.unstack())

          1         2         3
a -0.516572  1.459135 -0.662817
b -0.208436 -0.657674       NaN
c  0.628912       NaN -0.598835
d       NaN -0.203519  0.473174

In [ ]:
#Series->堆疊資料>(long data)
#2維資料->非堆疊資料>(width data)
data.unstack().stack()

a  1   -0.516572
   2    1.459135
   3   -0.662817
b  1   -0.208436
   2   -0.657674
c  1    0.628912
   3   -0.598835
d  2   -0.203519
   3    0.473174
dtype: float64

In [ ]:
import numpy as np
import pandas as pd

data1 = pd.Series(np.random.randn(10),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd','a'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3,1]])
data1
#索引(a,1) 重複了

a  1    1.050515
   2    1.330062
   3   -0.741412
b  1    1.120475
   2   -1.072613
c  3    0.427875
   1    0.599928
d  2    1.063575
   3    0.304291
a  1   -2.434114
dtype: float64

In [ ]:
## 使用unstack()時,(組合)索引不可以重複
#索引(a,1)重複了
data1.unstack()

ValueError: Index contains duplicate entries, cannot reshape

In [6]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
frame.index.names = ['key1','key2']
frame.columns.names = ['縣市','顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [7]:
series1 = frame.stack(level=['縣市','顏色'],future_stack=True)
series1.unstack(level=['key1', '縣市'])

key1          a          b
縣市           台北   台中    台北    台中
key2 顏色
1    Green  0.0  2.0   6.0   8.0
     Red    1.0  NaN   7.0   NaN
2    Green  3.0  5.0   9.0  11.0
     Red    4.0  NaN  10.0   NaN

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
frame.index.names = ['key1','key2']
frame.columns.names = ['縣市','顏色']
frame

In [ ]:
frame.groupby(level='顏色',axis=1).sum()
'''
FutureWarning：DataFrame.groupby 中 axis=1 的值已棄用。請改用不含 axis 的 `frame.T.groupby(...)`。
frame.groupby(level='顏色',axis=1).sum()
'''

C:\Users\user\AppData\Local\Temp\ipykernel_26040\3270200324.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  frame.groupby(level='顏色',axis=1).sum()

顏色         Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

In [9]:
frame.T.groupby(level='顏色').sum()

key1   a      b
key2   1  2   1   2
顏色
Green  2  8  14  20
Red    1  4   7  10